stages:
  - install
  - test

.install:
  stage: install
  interruptible: true
  script: composer install --ansi --no-interaction --prefer-dist
  artifacts:
    paths:
      - vendor/
    expire_in: 1 day

install.php84:
  extends: .install
  image: grifart/php8.4-with-all-modules-and-various-tools

install.php85:
  extends: .install
  image: grifart/php8.5-with-all-modules-and-various-tools


.test:
  stage: test
  interruptible: true
  variables:
    POSTGRES_DB: tables
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
  before_script:
    - mv tests/createConnection.ci.php tests/createConnection.local.php
    - php tests/initializeDatabase.php
  script:
    - composer run test

test.php84:
  extends: .test
  image: grifart/php8.4-with-all-modules-and-various-tools
  dependencies: [ install.php84 ]
  services:
    - postgres:16-alpine

test.php85:
  extends: .test
  image: grifart/php8.5-with-all-modules-and-various-tools
  dependencies: [ install.php85 ]
  services:
    - postgres:18-alpine

phpstan:
  stage: test
  image: grifart/php8.5-with-all-modules-and-various-tools
  interruptible: true
  dependencies: [ install.php85 ]
  script: composer run phpstan
